*, *::before, *::after {
    box-sizing: border-box;
    font-family: Helvetica;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(76, 176, 184);
}

.main-calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.main-calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    font-family: Helvetica;
}

.spanned {
    grid-column: span 2;
}

.number-buttons {
    background-color: #505050;
    color: white;
    font-family: Helvetica;
}

.number-buttons:hover {
    background-color: #797777;
}

.light-gray {
    background-color: #D4D4D2;
    font-family: Helvetica; 
}

.light-gray:hover {
    background-color: #f0f0ec;
}

.operators {
    background-color: #FF9500;
    color: white;
    font-family: Helvetica;
}

.operators:hover {
    background-color: #ffbb00;
}

.equals {
    background-color: #FF9500;
    color: white;
    font-family: Helvetica;
}

.equals:hover {
    background-color: #ffbb00;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    padding: 10px;
    color: white;
    font-size: 30px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: Helvetica;
}